<img
  data-sizes="auto"
  src="https://dummyimage.com/533x800/969696/fff.jpg"
  data-src="https://dummyimage.com/800x1200/969696/fff.jpg"
  data-srcset="https://dummyimage.com/533x800/969696/fff.jpg 800w,
  https://dummyimage.com/800x1200/969696/fff.jpg 1200w,
  https://dummyimage.com/1060x1600/969696/fff.jpg 1600w"
  alt="Image description"
  class="image-lazy lazyload" />
