{{! page }}
<div class="page">
  <header class="header">
    <div class="container">
      <nav class="nav">
        <h1 class="logo"><a href="#" class="logo__link"><img src="../../../assets/images/duke100-logo.svg" alt="Duke100" class="logo__img"><span class="hidden">Duke100</span></a></h1>
        <div class="menu" id="menu">
          <ul class="nav__list">
            <li class="nav__item"><a href="#" class="nav__link is-active"><span>coworking</span></a></li>
            <li class="nav__item"><a href="#" class="nav__link"><span>bureaux</span></a></li>
            <li class="nav__item"><a href="#" class="nav__link"><span>salles</span></a></li>
            <li class="nav__item"><a href="#" class="nav__link"><span>services</span></a></li>
            <li class="nav__item"><a href="#" class="nav__link"><span>tarifs</span></a></li>
            <li class="nav__item"><a href="#" class="nav__link"><span>contact</span></a></li>
          </ul>
          <ul class="nav__lang">
            <li class="nav__item"><a href="#" class="nav__link is-active"><span>FR</span></a></li>
            <li class="nav__item"><a href="#" class="nav__link"><span>EN</span></a></li>
            <li class="nav__item"><a href="#" class="nav__link"><span>NL</span></a></li>
          </ul>
        </div>
        <div class="menu-button hidden-desktop">
          <button class="menu-button__button" id="menu-button"><span></span></button>
        </div>
      </nav>
    </div>
  </header>
  <main class="main">
    {{! container }}
    <div class="container">
      {{! coworking }}
      <article class="article" id="coworking"></article>
      {{! / coworking }}
      {{! bureaux }}
      <article class="article" id="bureaux"></article>
      {{! / bureaux }}
      {{! salles }}
      <article class="article" id="salles"></article>
      {{! / salles }}
      {{! services }}
      <article class="article" id="services"></article>
      {{! / services }}
      {{! tarifs }}
      <article class="article" id="tarifs"></article>
      {{! / tarifs }}
      {{! contact }}
      <article class="article" id="contact"></article>
      {{! / contact }}
    </div>
    {{! / container }}
  </main>
  <footer class="footer">
    
  </footer>
</div>
{{! / page }}