/*------------------------------------*\
  block
\*------------------------------------*/


.block__link {
  @extend .ts-link;
}
.block__media + .block__text {
  margin-top: $spacing-xs;
}
.block__title {
  @extend .ts-subtitle;
}
.block__subtitle {
  @extend .ts-body;
}
.block__excerpt {
  @extend .ts-body;
  .block__title + &,
  .block__subtitle + &,
  .publication-date + & {
    margin-top: $spacing-xs;
  }
}
.block__time {
  @extend .ts-body;
  margin-bottom: $spacing-xs;
}
.block__info {
  margin-top: $spacing-xs;
}
.publication-date {
  @extend .ts-label;
  display: block;
  .block__title + & {
    margin-top: $spacing-xxs;
  }
}
