/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: $body-color;
  padding: $spacing-sm 0;
  border-bottom: $border-width-sm solid $base-color;
}

.header__inner {
  @extend %container;
  position: relative;
}

.menu {
  @include media('>=sm') {
    display: flex !important;
    justify-content: space-between;
    align-items: baseline;
  }
  @include media('<sm') {
    margin-top: $spacing-sm;
  }
}

.icon--menu {
  position: absolute;
  top: 0;
  right: 5%;
  background: url('../../assets/front/images/icon-menu.svg') center center no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  background-size: 100%;
  cursor: pointer;
  @include media(">=sm") {
    display: none;
  }
  .icon__text {
    display: none;
  }
}

// header mobile
@include media("<sm") {
  .menu {
    display: none;
  }
}
