/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: $body-color;
  padding: $spacing-sm 0;
}

.header__inner {
  @extend %container;
  position: relative;
}

.menu {
  @include media('>=sm') {
    display: flex !important;
    justify-content: space-between;
    align-items: baseline;
  }
  @include media('<sm') {
    margin-top: $spacing-sm;
  }
}

.nav__item {
  @include media('>=sm') {
    display: inline-block;
    .nav:not(.nav--lang) &:not(:last-child) {
      margin-right: $spacing-sm;
    }
  }
}

.logo__link,
.nav__link {
  display: block;
  @extend .ts-body;
  @extend .ts-link;
}

.nav__link {
  @include media('<sm') {
    padding: $spacing-xxs 0;
  }
}

.nav--lang .nav__link {
  @extend .ts-label;
  &:not(.is-active) {
    color: $gray;
    &:hover {
      color: $base-color;
    }
  }
}

.icon--menu {
  position: absolute;
  top: 0;
  right: 5%;
  background: url('../../assets/front/images/icon-menu.svg') center center no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  background-size: 100%;
  cursor: pointer;
  @include media(">=sm") {
    display: none;
  }
  .icon__text {
    display: none;
  }
}

// header mobile
@include media("<sm") {
  .menu {
    display: none;
  }
}
