{% extends "base.twig" %}

{% block content %}
<article class="article scroll">
  <h2>Article scroll</h2>
  {% include "components-article-text" %}
  {% include "components-gallery-scroll" %}
</article>
{% endblock %}
