/*------------------------------------*\
  #MISC
\*------------------------------------*/


.hidden {
  display: none !important;
}

.hidden-mobile {
  @include media("<sm") {
    display: none !important;
  }
}
.hidden-desktop {
  @include media(">sm") {
    display: none !important;
  }
}

.nav__list {
  list-style: none;
}

// patternlab
.sg-main {
  padding: 2rem;
}
