<div class="wrapper wrapper--detail">
  {{> components-header }}
  <main class="main" id="main">
    <article class="detail detail--news">
      <div class="detail__inner">
        <section class="detail__text">
          <h1 class="detail__title">News title</h1>
          <time class="publication-date" datetime="2019-09-28">28/09/2019</time>
          <div class="detail__intro body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis illum cupiditate, nisi similique possimus veritatis eum quas qui asperiores vel quo quasi, unde consequuntur aperiam. Distinctio quisquam veritatis placeat, earum?</p>
          </div>
          <div class="detail__content body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis illum cupiditate, nisi similique possimus veritatis eum quas qui asperiores vel quo quasi, unde consequuntur aperiam. Distinctio quisquam veritatis placeat, earum?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, itaque reiciendis culpa temporibus dignissimos atque facilis distinctio. Itaque id aut placeat architecto quod labore quos fugiat unde porro, odit nesciunt.</p>
          </div>
        </section>
        {{> components-gallery-basic }}
        {{> components-pagination }}
      </div>
    </article>
  </main>
  {{> components-footer }}
</div>
