<div class="detail detail--article">
  {{> components-header }}
  <main class="main wrapper" id="main">
    <article class="article">
      <h1 class="article__title">Article title</h1>
      <div class="body">
        {{> utils-body-text }}
      </div>
    </article>
  </main>
</div>
