<div class="wrapper wrapper--home">
  {{> components-header }}
  <main class="main" id="main">
    <section class="index index--projects">
      <div class="index__inner">
        <h2 class="index__title">Featured projects</h2>
        <div class="index__content">
          {{> components-block-project(title: "Project title", image-type:"portrait" }}
          {{> components-block-project(title: "Project title", image-type:"landscape" }}
          {{> components-block-project(title: "Project title", image-type:"landscape" }}
          {{> components-block-project(title: "Project title", image-type:"portrait" }}
        </div>
        <a href="{{ link.templates-index-projects }}" class="button button--text">All projects</a>
      </div>
    </section>
    <section class="index index--news">
      <div class="index__inner">
        <h2 class="index__title">Latest news</h2>
        <div class="index__content">
          {{> components-block-news(title: "Project title", image-type:"portrait" }}
          {{> components-block-news(title: "Project title", image-type:"landscape" }}
          {{> components-block-news(title: "Project title", image-type:"landscape" }}
          {{> components-block-news(title: "Project title", image-type:"portrait" }}
        </div>
        <a href="{{ link.templates-index-news }}" class="button button--text">All news</a>
      </div>
    </section>
  </main>
  {{> components-footer }}
</div>
