<div class="homepage">
  {{> components-header }}
  <main class="main wrapper" id="main">
    <ul class="list">
      {{> components-list-item(image-type:"landscape") }}
      {{> components-list-item(image-type:"square") }}
      {{> components-list-item(image-type:"portrait") }}
    </ul>
  </main>
</div>
