<div class="wrapper wrapper--index">
  {{> components-header }}
  <main class="main" id="main">
    <section class="index index--news">
      <h2 class="index__title">News</h2>
      <div class="index__content">
        {{> components-block-news(title: "Project title", image-type:"portrait" }}
        {{> components-block-news(title: "Project title", image-type:"landscape" }}
        {{> components-block-news(title: "Project title", image-type:"landscape" }}
        {{> components-block-news(title: "Project title", image-type:"portrait" }}
        {{> components-block-news(title: "Project title", image-type:"portrait" }}
        {{> components-block-news(title: "Project title", image-type:"landscape" }}
        {{> components-block-news(title: "Project title", image-type:"landscape" }}
        {{> components-block-news(title: "Project title", image-type:"portrait" }}
        {{> components-block-news(title: "Project title", image-type:"portrait" }}
        {{> components-block-news(title: "Project title", image-type:"landscape" }}
        {{> components-block-news(title: "Project title", image-type:"landscape" }}
        {{> components-block-news(title: "Project title", image-type:"portrait" }}
      </div>
      {{> components-pagination }}
    </section>
  </main>
  {{> components-footer }}
</div>
