<div class="wrapper wrapper--projects">
  {{> components-header }}
  <main class="main" id="main">
    <section class="index">
      {{> components-block-project(title: "Project title", image-type:"landscape") }}
      {{> components-block-project(title: "Project title", image-type:"portrait") }}
      {{> components-block-project(title: "Project title", image-type:"square") }}
    </section>
  </main>
</div>
