{{> components-header }}
<main class="wrapper">
  <article class="article">
    <h1 class="article__title">Article title</h1>
    <div class="body">
      {{> components-body-text }}
    </div>
  </article>
</main>
