<p class="hide-xs">This text is hidden on smaller screens</p>

<p class="hide-md hide-lg"><em>This text is only visible on smaller screens</em></p>

<p class="hide-md">This text is hidden on medium screens only</p>

<p class="hide-xs hide-sm hide-lg"><em>This text is only visible on medium screens</em></p>

<p class="hide-lg">This text is hidden on large screens</p>

<p class="hide-xs hide-sm hide-md"><em>This text is only visible on large screens</em></p>
