{{> components-header }}
<main class="wrapper">
  <ul class="list">
    {{> components-list-item(image-type:"landscape") }}
    {{> components-list-item(image-type:"square") }}
    {{> components-list-item(image-type:"portrait") }}
  </ul>
</main>
