<nav class="nav nav--subnav" id="subnav">
  <ul class="nav__list">
    <li class="nav__item"><a href="{{ link.templates-detail-page }}" class="nav__link active">Subpage 1</a></li>
    <li class="nav__item"><a href="{{ link.templates-detail-page }}" class="nav__link">Subpage 2</a></li>
    <li class="nav__item"><a href="{{ link.templates-detail-page }}" class="nav__link">Subpage 3</a></li>
  </ul>
</nav>
