<section class="gallery gallery--slideshow">
  <figure class="gallery__item cover" style="background-image:url('https://dummyimage.com/1600x1060/969696/fff.jpg')">
    {{> utils-image-landscape }}
    <figcaption class="gallery__desc ">Image caption</figcaption>
  </figure>
  <figure class="gallery__item contain" style="background-image:url('https://dummyimage.com/1060x1600/969696/fff.jpg')">
    {{> utils-image-portrait }}
    <figcaption class="gallery__desc ">Image caption</figcaption>
  </figure>
  <figure class="gallery__item cover" style="background-image:url('https://dummyimage.com/1060x1600/969696/fff.jpg')">
    {{> utils-image-portrait }}
    <figcaption class="gallery__desc ">Image caption</figcaption>
  </figure>
  <figure class="gallery__item contain" style="background-image:url('https://dummyimage.com/1600x1060/969696/fff.jpg')">
    {{> utils-image-landscape }}
    <figcaption class="gallery__desc ">Image caption</figcaption>
  </figure>
</section>
