<header class="primary-header">
  <div class="wrapper">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="{{ link.templates-homepage }}" class="nav__link">Homepage</a></li>
        <li class="nav__item"><a href="{{ link.templates-article }}" class="nav__link">Article</a></li>
      </ul>
    </nav>
  </div>
</header>
