<header class="header">
  <h1 class="logo">
    <a href="{{ link.templates-projects }}" class="logo__link"><img src="../../../assets/front/images/logo.svg" alt="Project title" class="logo__img"></a>
  </h1>
  <nav class="nav" id="nav">
    <ul class="nav__list">
      <li class="nav__item"><a href="{{ link.templates-projects }}" class="nav__link">projects</a></li>
      <li class="nav__item"><a href="{{ link.templates-page }}" class="nav__link">information</a></li>
    </ul>
  </nav>
</header>
