<img
  data-sizes="auto"
  src="../../../../assets/images/image-small.jpg"
  data-src="../../../../assets/images/image-medium.jpg"
  data-srcset="../../../../assets/images/image-small.jpg 800w,
  ../../../../assets/images/image-medium.jpg 1200w,
  ../../../../assets/images/image-large.jpg 1600w"
  alt="Image description"
  class="image-lazy lazyload" />
